*{
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: flex-end; */
    align-content: center;
}
.container div{
    width: 5rem;
    height: 5rem;
    background-color: aqua;
    padding: 2rem;
    margin: 2rem;
}